html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Courier New', monospace;
    font-size: 1em;
    overflow-y: hidden;
}

div {
    margin: 0;
    padding: 0;
}

#toolbar {
    width: 100%;
    height: 2rem;
    padding: .4rem;
    border-bottom: solid #c4c4c4 1px;
}

#gutter {
    min-height: calc(100vh - 6rem);
    font-family: 'Courier New', monospace;
    padding-top: .2rem;
    display: flex;
    flex-flow: column wrap;
    padding-left: .5ch;
    padding-right: .5ch;
    border-right: solid #c4c4c4 1px;
    background-color: #e6e6e6;
    font-size: 16px;
}

#gutter > div {
    color: #6a6a6a;
}

#editor {
    width: calc(100% - 1rem);
    display: inline-flex;
    font-family: 'Courier New', monospace;
    padding-top: .1rem;
    padding-left: .5ch;
    resize: none;
    overflow: hidden;
    flex: 1;
    border: 0;
    color: #393939;
    min-height: calc(100vh - 6rem);
    font-size: 16px;
}

#editor:focus {
    outline: none;
}

#footer {
    height: 1rem;
    width: 100%;
    display: block;
    border-top: solid #c4c4c4 1px;
    font-family: sans-serif;
    color: #393939;
    padding: .25rem;
    font-size: .75rem;
}

.popover {
    z-index: 10;
    position: absolute;
    border-radius: .25rem;
    opacity: 1;
    font-family: 'Courier New', monospace;
}

.error {
    background-color: #ffc9c9;
    padding: 0;
    margin: 0;
    border-radius: 0 .25rem .25rem .25rem;
}

.success {
    background-color: #b1f4c8;
}

.notice {
    background-color: #dfdfdf;
    padding: 2rem;
}

.hint {
    padding-top: .5rem;
    font-style: italic;
    color: #575757;
    background-color: #ffe2ddc2;
    border-radius: 0 0 .25rem .25rem;
    padding-left: .25rem;
    padding-right: .25rem;
    padding-bottom: .25rem;
}
